<body style="background-image:none;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="animate__animated animate__rotateIn">Welldone! Challenge Completed <em>Champ</em></h2>
            </div>
    </div>

    {{!-- <div class="row">
        <span>Progress Bar</span>
        <progress class="noLevel" id="progress" value="100" max="100"> 0 </progress>
   
    </div> --}}

    <div class="row">
        <div class="col-12">
            <div class="trophy_container center">
            <img src="/images/trophy.png">
            <h3>Congratulations</h3>
            <p>You have successfully completed the 3 Challenge Game!</p>
            </div>
        </div>
    </div>
</div>
</body>